<!DOCTYPE html>
<html>
<head>
	<title>
		<%=title %>
	</title>
	<meta charset="UTF-8">
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>



<body style="margin-top: -25px; margin-left: 15px;">	
    <% if ( user ) { %>
    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe" style="position: absolute; top: -50px;"></iframe>
		<h2 style="margin-top: 0">Sveikas, <%=user%> </h2>

		<h3>Sukurti naują sąsają su įtaisu:</h3>

		<form action="/update" method="post">

			<label for="name">Įtaiso Pavadinimas:</label>
	        <input type="name" name="name" id="name" placeholder="Pavadinimas">

	        <label for="adress">Įtaiso Adresas:</label>
	        <input type="adress" name="adress" id="adress" placeholder="Adresas">

	        <button type="submit">Pridėti</button>

      	</form>

      	<h3>Esamos vartotojo sąsajos:</h3>      	

		<table>
		<% for(var i= 0; i < device.length; i++) { %>
		   <tr style="border-bottom: 1px solid; border-top: 1px solid;">
		   	<td> <%= i + 1 %> </td>
		   	<td width="5px"></td>
		     <td><%= device[i].name %></td>
		     <td width="5px"></td>
		     <td><%= device[i].adress%></td>
		     <td width="10px"></td>
		     <td>
			     <form action='http://<%= device[i].adress%>/on' method="post" target="dummyframe">
			     	<button style="width:50px; text-align: center; margin: 2px" type="submit">ON</button>
			     </form> 
		     </td>		     
		     <td>
			     <form action='http://<%= device[i].adress%>/off' method="post" target="dummyframe">
			     	<button style="width:50px; text-align: center; margin: 2px" type="submit">OFF</button>
			     </form> 
		     </td>         	
		   </tr>
		<% } %>
		</table>

      	</br></br>
		<a href="/logout">Atsijungti</a>

	<% } else { %>	
	<div class="center-block text-center" style="width: 500px">
		<h1>Sistema</h1>
		<a href="/login" class="btn btn-lg btn-primary btn-block">Prisijungti</a>
		<a href="/register" class="btn btn-lg btn-primary btn-block">Užsiregistruoti</a>	
	</div>
	<% } %>   

</body>
</html>