<!DOCTYPE html>
<html>
<head>
	<title>
		<%=title %>
	</title>
	<meta charset="UTF-8">	
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>
<body>
	<% for(var i in messages) { %>
	<div class="flash"><%= messages[i] %></div>
	<% } %>

	<div class="container">
		<form class="form-signin" action="/register" method="post">
        	<h2 class="form-signin-heading text-center">Registracija</h2>
        
	        <label for="username" class="sr-only"></label>
	        <input type="text" id="username" name="username" class="form-control" placeholder="Slapyvardis" required autofocus>

	        <label for="name" class="sr-only"></label>
	        <input type="text" id="name" name="name" class="form-control" placeholder="Vardas" required autofocus>

	        <label for="email" class="sr-only"></label>
	        <input type="email" id="email" name="email" class="form-control" placeholder="El. Paštas">
	        
	        <label for="password" class="sr-only"></label>
	        <input type="password" name="password" id="password" class="form-control" placeholder="Slaptažodis">
	        
	        <button class="btn btn-lg btn-primary btn-block" type="submit">Registruotis</button>
      	</form>

      	<div class="row">
		    <div class="center-block text-center">
				<a href="/oauth/facebook">Prisijunkite su Facebook</a>		
			</div>
		</div>
    </div>
</body>
</html>